.copy {
    border-radius: 10px;
    border: solid 2px #835afd;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    background-color: #835afd;
    height: 2.5rem;
    overflow: hidden;
}
.copy * {
    margin: 0;
}

.copyIcon {
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 0.5rem;
    height: 2.5rem;
}

.code {
    display: block;
    background-color: #fff;
    align-self: center;
    padding: 0 0.5rem 0 0.5rem;
    height: 100%;
    line-height: 2.2rem;
}

@media screen and (max-width: 530px) {
    .code {
        display: none;
    }

    .copyIcon img {
        padding: 0;
    }
}