.spinner-overlay {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disactivated {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-height: 100px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.spinner {
    background-color: #e73f5d;
}

header * {
    margin: 1.5rem;
}

.user-options {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.user-options .copy {
    margin-right: 0.5rem;
}

.sign-out {
    padding: 0.6rem;
    border-radius: 7px;
    border-style: none;
    color: rgba(255, 255, 255, 0.89);
    background-color: #835afd;
    margin: 0;
}

.user-options svg {
    margin: 0 1rem;
}

.three-dots {
    margin: 0;
    border: none;
    background-color: transparent;
}

.options-menu {
    background-color: #fff;
    width: max-content;
    height: max-content;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    right: 0;
    top: 9.5vh;
    z-index: 10;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
}

.activated {
    display: flex;
}

.options-menu button {
    border:none;
    background-color: transparent;
    padding: 0.2rem 0;
    margin: 0.3rem 1rem;
    color: #24292e;
    font-family: 'Poppins', sans-serif;
}

.options-menu button:hover {
    filter: none;
}

ul {
    width: 100%;
}

li {
    list-style-type: none;
    width: 100%;
    transition: 0.5s;
}

li:hover {
    background-color: rgb(202, 196, 196);
}

.dark-mode-button {
    margin: 0;
    border: none;
    background-color: transparent;
}

.overlay {
    background-color: #24292ebd;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 45vw;
    min-width: fit-content;
    height: 30vh;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    inset: 40px; 
    border: 1px solid rgb(204, 204, 204); 
    background: rgb(255, 255, 255); 
    border-radius: 4px; 
    padding: 20px;
}

.response-form {
    height: 2.5rem;
    border-radius: 50px;
    border: solid #a8a8b3 thin;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 2%;
}

.response-form textarea {
    height: auto;
    border-radius: 0px;
    border: none;
    padding: 0;
    width: 95%;
    height: fit-content;
    max-height: 4rem;
    resize: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.response-form input:focus-visible {
    outline: none;
}

.send-button {
    border:none;
    background-color: transparent;
    padding: 0.2rem 0;
    margin: 0.3rem 0rem;
    height: min-content;
    color: #835afd;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.buttons-options {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 20%;
}

.cancel-button {
    padding: 0.6rem;
    border-radius: 7px;
    border-style: none;
    outline: none;
    font-size: 1rem;
    color: #80808c;
    background-color: #dbdcdd;
    margin: 0.5rem 0;
    font-family: 'Poppins', sans-serif;
    width: 35%;
    min-width: max-content;
}

.confirm-button {
    padding: 0.6rem;
    border-radius: 7px;
    border-style: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    background-color: #e73f5d;
    margin: 0.5rem 0;
    font-family: 'Poppins', sans-serif;
    width: 35%;
    min-width: max-content;
}

@media screen and (max-width: 900px){
    .logo {
        margin: 0;
        padding: 1.5rem 0;
    }
}

@media screen and (max-width: 340px) {
    .logo {
        padding: 0;
        width: 25%;
        margin-left: 10%;
    }
}
main {
    width: 80%;
    max-width: 2000px;
    margin: 0 auto;
    min-height: 80vh;
}

@media screen and (max-width: 900px) {
    main {
        width: 90%;
    }
}
.empty-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:  10vh auto 0;
    gap: 1rem;
}

.empty-room p {
    font-family: 'Poppins', sans-serif;
}

.titles {
    display: flex;
    align-items: baseline;
}

h2 {
    display: inline;
    border-radius: 30px;
    background-color: #e559f9;
    color: #fff;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    height:max-content;
    margin-left: 1rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 300px) {
    .titles {
        flex-direction: column;
    }

    .room-name {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
}

.room-form {
    margin: 0 auto;
}

.room-form p {
    display: inline;
    text-align: left;
}

.new-question {
    max-width: 100%;
    border-radius: 10px;
    resize: none;
    font-size: 1rem;
    padding: 1rem;
}

textarea:focus-visible {
    outline: none;
}

.room-name {
    margin-left: 0;
}

footer {
    display: flex;
    align-self: baseline;
    justify-content: space-between;
}

footer img {
    border-radius: 50%;
}

.a-button {
    border: none;
    background-color: inherit;
    color: #835afd;
    text-decoration: underline;
}

.user-info {
    height: 1.5rem;
    display: flex;
    color: #18181a;
    font-weight: 700;
    font-size: 0.9rem;
    margin-left: 0.1rem;
}

.user-info-form p{
    align-self: flex-end;
    margin-bottom: 3px;
}

.user-info p {
    margin-left: 0.4rem 0 0 0.6rem;
}

.user-info img {
    object-fit:contain;
    margin-right: 0.5rem;
}

p {
    text-align: center;
    display: flex;
    align-items: center;
}

footer .button {
    width: 10rem;
}

@media screen and (max-width: 900px) {
    .form-footer {
        flex-direction: column;
    }

    .form-footer .button {
        align-self: flex-end;
    }

    .user-info-form img {
        height: 100%;
    }
    
}