header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-height: 100px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

header * {
    margin: 1.5rem;
}

.user-options {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.user-options .copy {
    margin-right: 0.5rem;
}

.sign-out {
    padding: 0.6rem;
    border-radius: 7px;
    border-style: none;
    color: rgba(255, 255, 255, 0.89);
    background-color: #835afd;
    margin: 0;
}


@media screen and (max-width: 900px){
    .logo {
        margin: 0;
        padding: 1.5rem 0;
    }
}

@media screen and (max-width: 340px) {
    .logo {
        padding: 0;
        width: 25%;
        margin-left: 10%;
    }
}
main {
    width: 80%;
    max-width: 2000px;
    margin: 0 auto;
    min-height: 80vh;
}

@media screen and (max-width: 900px) {
    main {
        width: 90%;
    }
}
.empty-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:  10vh auto 0;
    gap: 1rem;
}

.empty-room p {
    font-family: 'Poppins', sans-serif;
}

.titles {
    display: flex;
    align-items: baseline;
}

h2 {
    display: inline;
    border-radius: 30px;
    background-color: #e559f9;
    color: #fff;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    height:max-content;
    margin-left: 1rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 300px) {
    .titles {
        flex-direction: column;
    }

    .room-name {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
}

.room-form {
    margin: 0 auto;
}

.room-form p {
    display: inline;
    text-align: left;
}

.new-question {
    max-width: 100%;
    border-radius: 10px;
    resize: none;
    font-size: 1rem;
    padding: 1rem;
}

.room-name {
    margin-left: 0;
}

footer {
    display: flex;
    align-self: baseline;
    justify-content: space-between;
}

footer img {
    border-radius: 50%;
}


.user-info {
    height: 1.5rem;
    display: flex;
    color: #18181a;
    font-weight: 700;
    font-size: 0.9rem;
    margin-left: 0.1rem;
}

.user-info p {
    margin-left: 0.4rem 0 0 0.6rem;
}

.user-info img {
    object-fit:contain;
    margin-right: 0.5rem;
}

p {
    text-align: center;
    display: flex;
    align-items: center;
}

footer .button {
    width: 10rem;
}

@media screen and (max-width: 900px) {
    .form-footer {
        flex-direction: column;
    }

    .form-footer .button {
        align-self: flex-end;
    }

    .user-info-form img {
        height: 100%;
    }
    
}